.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.meal h3 {
    margin: 0 0 0.25rem 0;
}
.description {
    font-style: italic;
}
.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #AD5502;
    font-size: 1.25rem;
}
.containerCounter{
    display: flex;
    flex-direction: column;
    gap: 10px;
     font-size: 1.15rem;
}
.counter{
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;   
}

.counter > button{
    width: 60px;
    height: 30px;
     background-color: #8A2B06;
    color: white;
    border-radius: 20px;
    border: none;
}